@page "{id:int}"
@model eticaret.Pages.Products.DeleteModel

<h1>Ürün Sil</h1>

<h3>@Model.Product.Name</h3>
<p>Bu ürünü silmek istediğinizden emin misiniz?</p>

<form method="post">
    <input type="hidden" asp-for="Product.Id" />
    <button type="submit" class="btn btn-danger">Sil</button>
    <a asp-page="./Index" class="btn btn-secondary">Geri Dön</a>
</form>
